@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">RunTracker</h1>
    <!-- In order to add static files to razor page (css,js,jquery, images), the files must be
        located in the wwwroot folder!!!
    -->
</div>
<body>

</body>

<style>
    .display-5 {
        color: white;
        font-size: 100px;
        font-weight: bold;
        font-family: 'Verdana';
    }
    body {
        background: url('images/main-theme.png');
        background-position: center;
        background-size: cover;
        height: 500px;
    }
</style>