@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="split left loginImage">
@*	<div class="d-none d-md-flex col-md-4 col-lg-6 loginImage">
        <img src="/Images/login.jpg" alt="Login-Background">
	</div>*@
</div>

<div class="split right">
	<div class="centered">
		<h1>Login</h1>
		<form>
			<label for="email">Email</label>
			<input type="email" id="email" name="email">
			<label for="password">Password</label><br>
			<input type="password" id="password" name="password">
			<input type="submit" value="Login"><br>
			<a href="/CreateAccount/CreateAccount"><strong><u>Create an Account</u></strong></a>
		</form>
	</div>
</div>

<style>
	.split {
		height: 100%;
		width: 50%;
		position: fixed;
		z-index: 1;
		top: 0;
		overflow-x: hidden;
		padding-top: 20px;
	}

	/* Control the left side */
	.left {
		left: 0;
		background-color: #111;
	}

	/* Control the right side */
	.right {
		right: 0;
		background-color: white;
	}

	.loginImage {	
		background: url('Images/login.jpg');
		background-size: cover;
		background-position: center;
	}

	h1 {
		font-size: 4rem;
		text-align: left;
		padding: 2rem;
	}

	/* form stuff */

	form {
		padding: 2rem;
	}

	a {
		text-decoration: none;
		text-align: center;
		display: flex;
		justify-content: center;
		transition-duration: 0.4s;
	}

	/* input[type=email], [type=password] {
		padding: 0.7rem;
		width: 100%;
		margin: 15px 0;
		border: 0;
		outline: 0;
		background: transparent;
		border-bottom: 1px solid black;
		font-size: 15px;
		font-family: 'Raleway', sans-serif;
	} 

	label {
		font-size: 1.5rem;
	} */

	input[type=submit] {
		width: 70%;
		background-color: black;
		color: white;
		font-size: 20px;
		border: 2px solid black;
		font-weight: bold;
		margin-top: 2rem;
		transition-duration: 0.4s;
		display: flex;
		justify-content: center;
		padding: 0.5rem;
		margin: auto;
		margin-top: 2rem;
	}
</style>