@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="homePage text-center">
    <h1 class="homePage">RunTracker</h1>
    <!-- In order to add static files to razor page (css,js,jquery, images), the files must be
        located in the wwwroot folder!!!
    -->
</div>
<body >

</body>
