html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
}
/* ---------------------------------------------------------------------------- */



.addRun-distance { /* For the distance number input in the AddRun page form */
    width: 15%;
}

.addRunForm { /* For the form on AddRun page */
    border-radius: 8px;
    background-color: #E5E7E9;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.addRun-formBtn { /* For the buttons in the AddRun page form */
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.addRunLabel { /* For the labels in the AddRun page form */
    width: 25%;
    margin-left: 5%;
}

.addRun-radioBtns { /* For the radio buttons in the AddRun page*/
    display: inline-block;
    width: 5%;
    margin-right: 0px;
}

.addRunRow { /* For the rows in the AddRun page form */
    font-family: 'Liberation Mono', sans-serif;
    margin: auto;
    width: 100%;
}

.addRun-startEnd { /* For the startTime & endTime time input boxes in the AddRun page*/
    width: 50%;
    font-size: 18px;
}

.createAccount-bordered { 
    border-radius: 8px;
    border: none;
    background-color: #E5E7E9;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 60%;
    border: none;
    background-color: #E5E7E9;
    padding-left: 45px;
    padding-top: 20px;
}

/* .btn-create {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    border: none;
    padding: 10px;
    align-content: center;
    background-color: #7A96B4;
    color: white;
} */

.createAccountBtn {
    width: 50%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.create-account-header {
    font-size: 36px;
    color: white;
}

/* from Create Account */
.misc-header {
    color: #E8E8E8;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.create-account-header, .misc-header {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.createForm-input {
    display: inline;
    width: 60%;
    border-radius: 8px;
    font-size: 20px;
    padding: 0.8rem;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    background-color: #F4F6F6;
    border-color: #F2F4F4;
}

.createForm-label {
    font-size: 20px;
    text-align: right;
    width: 20%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: inline;
}

.dayViewBtn { /* For the AddRun & DeleteRun buttons in the DayView page */
    width: 28%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    margin-left: 1px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.dayViewBtn-row { /* For the row spacing of the AddRun & DeleteRun buttons in the DayView page */
    display: block;
}

.dayViewForm { /* ????????????????????????????????? */
    border-radius: 8px;
    background-color: #E5E7E9;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#displayDate { /* For the textbox to display RunDate in the DayView page */
    margin: auto;
    font-size: 24px;
    color: black;
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.dayView-runInfo-divBox { /* For the div box section in the DayView page that displays the run stats */
    height: 300px;
    width: 40%;
    margin-left: auto;
    margin-right: 10%;
    background-color: white;
}

.dayViewRunName { /* For the textbox to display RunName in the DayView page */
    margin: auto;
    /*    width: 320px;  */
    width: 60%;
    font-size: 24px;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.dayViewStats-icon { /* For the icons of the Stats display box in the DayView page */
    display: inline-block;
    width: 20%;
    height: 20%;
    margin-left: 5%;
}

.dayViewStats-row { /* For the rows of the Stats display box in the DayView page */
    display: block;
    padding-top: 3%;
}

.dayViewStats-text { /* For the textboxes of the Stats display box in the DayView page */
    height: 60px;
    width: 60%;
    margin-left: 3%;
    font-size: 24px;
    color: black;
    font-weight: bold;
    display: inline-block
}

.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}

.homePage {
    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Poppins';
}

.misc {
    margin-bottom: 10px;
    color: #5D6D7E;
    font-weight: bold;
}

/*.nameLabel, .emailLabel, .passwordLabel, .rePasswordLabel {
    font-size: 25px;
    text-align: right;
    width: 100px;
    font-family: 'Poppins', sans-serif;
}
*/

.photoURL {
    padding: 8px;

}

.row {
    display: flex;
    align-items: center;
    align-content: center;
}

#runName, #locationName { /* For the RunName textbox in the AddRun page & LocationName textbox in the AddLocation page*/
    margin: auto;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.welcome-text1 {
    color: #1C2833;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

.welcome-text2 {
    color: black;
    font-size: 75px;
    font-family: 'Poppins', cursive;
    text-align: center;
}

/* calendar styling */
td {
    width: 7rem;
    height: 5rem;
    overflow: hidden;
    word-wrap: break-word;
    text-align: left;
    border-width: thin;
    position: relative;
    padding: 7px;
}

.calendar td {
    vertical-align: top;
    text-align: left;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.left-btn, .right-btn {
    margin: 5px;
}

.left-btn {
    margin-left: 20px;
}

.days-of-week {
    background-color: lightgrey;
    margin: 0 auto;
}

.calendar, .days-of-week {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.month-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span {
    margin-left: 0;
}

.calendar {
    margin: 0 auto;
}

.month-year {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
}
/* end of calendar styling */