html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
}




.addRunForm {
    border-radius: 8px;
    background-color: #E5E7E9;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.addRunLabel {
    width: 25%;
    margin-left: 5%;
}

.addRunRow {
    font-family: 'Liberation Mono', sans-serif;
    margin: auto;
    width: 100%;
}

.bordered {
    border-radius: 8px;
    width: 60%;
    border: none;
    background-color: #E5E7E9;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.btn-create {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    border: none;
    align-content: center;
    background-color: #7A96B4;
    color: white;
}

.createAccount, .misc {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
}

.createForm input[type="text"] {
    box-sizing: border-box;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
    background-color: #F4F6F6;
    border-color: #F2F4F4;
    /*margin-bottom: 10px;*/
}

.dayViewBtn {
    /* width: 150px; */
    width: 28%;
    color: white;
    font-family: 'Liberation Mono', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    margin-left: 1px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.dayViewForm {
    border-radius: 8px;
    background-color: #E5E7E9;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#displayDate {
    margin: auto;
    font-size: 24px;
    color: black;
    margin-top: 20px;
    text-align: center;
    font-family: 'Liberation Mono', sans-serif;
}

.displayRunName {
    margin: auto;
/*    width: 320px;  */
    width: 60%;
    font-size: 24px;
    color: black;
    text-align: center;
    font-family: 'Liberation Mono', sans-serif;
}

.displayStats {
    height: 60px;
    width: 60%;
    margin-left: 3%;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.distance {
    width: 15%;
}

.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}

.formBtn {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.homePage {
    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Verdana';
}

.misc {
    margin-bottom: 10px;
    color: #5D6D7E;
}

.nameLabel, .emailLabel, .passwordLabel, .rePasswordLabel {
    font-size: 20px;
    text-align: left;
    margin-left: auto;
    width: 150px;
    font-family: 'Raleway', sans-serif;
}

.radioBtns {
    display: inline-block;
    width: 5%;
    margin-right: 0px;
}

.radioLabels {
    font-size: 14px;
    padding-left: 0px;
    margin-right: 0px;
    width: 15%;
}

.row {
    display: flex;
    align-items: center;
    align-content: center;
}

#runName, #locationName {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    font-family: 'Liberation Mono', sans-serif;
}

.runStats {
    height: 300px;
    width: 40%;
    margin-left: auto;
    margin-right: 10%;
    background-color: white;
}

#startTime, #endTime {
    width: 320px;
}

.startEndTime {
    width: 50%;
    font-size: 18px;
}

.welcome-text1 {
    color: #1C2833;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

.welcome-text2 {
    color: black;
    font-size: 75px;
    font-family: 'Monoton', cursive;
    text-align: center;
}

/* calendar styling */
td {
    width: 10rem;
    height: 7rem;
    overflow: hidden;
    word-wrap: break-word;
    text-align: left;
    border-width: thin;
    position: relative;
    padding: 7px;
}

.calendar td {
    vertical-align: top;
    text-align: left;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.left-btn {
    margin-left: 10px;
}

.days-of-week {
    background-color: lightgrey;
    margin: 0 auto;
}

.calendar, .days-of-week {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.calendar {
    margin: 0 auto;
}

.month-year {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    font-size: 35px;
    margin-bottom: 10px;
}
/* end of calendar styling */

