@page
@model RunTracker.Pages.CalendarModel
@{
    Layout = "_Layout-Calendar";
    ViewData["Title"] = "Calendar";
    if (Model.month == 0)
    {
        Model.month = 12;
        Model.year = Model.year - 1;
        CalendarModel.dt = new DateOnly(Model.year, Model.month, 1);
        CalendarModel.nav = 0;
    }
    if (Model.month == 13)
    {
        Model.month = 1;
        Model.year = Model.year + 1;
        CalendarModel.dt = new DateOnly(Model.year, Model.month, 1);
        CalendarModel.nav = 0;

    }

    string[] weekdays = new string[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
    DateOnly firstDayOfMonth = new DateOnly(Model.year, Model.month, 1);
    int daysInMonth = DateTime.DaysInMonth(Model.year, Model.month);
    string dateString = firstDayOfMonth.ToLongDateString();
    int paddingDays = Array.IndexOf(weekdays, dateString.Split(',')[0]);
}
<div id="calContainer">

    <div id="container">
        <div id="header">
            <div id="monthDisplay">@firstDayOfMonth.ToString("MMMM") @Model.year.ToString()</div>
            <div>
            <form method="post">
                <button id="previousButton" type="submit" asp-page-handler="previous" >Previous</></button>
                <button id="nextButton" type="submit" asp-page-handler="next">Next</button>
            </form>
             </div>
        </div>

        <div id="weekdays">
            <div>Sunday</div>
            <div>Monday</div>
            <div>Tuesday</div>
            <div>Wednesday</div>
            <div>Thursday</div>
            <div>Friday</div>
            <div>Saturday</div>
        </div>

        <div id="calendar">
            @for (int i = 0; i < paddingDays + daysInMonth; i++)
            {
                if (i >= paddingDays)
                {
                    int day = i - paddingDays+1;
                    string monthStr = "0" + firstDayOfMonth.Month.ToString();
                    string monthSub = monthStr.Substring(monthStr.Length - 2);
                    string dayString = Model.year + "-" + monthSub + "-" + day;
                    <div><a class="day" style="text-decoration:none" asp-route-rundate="@dayString" asp-page="/DayView/DayView">@day</a></div>


                }
                else
                {
                    <div class="day padding"></div>
                }
            }
        </div>
    </div>

</div>