@page
@model RunTracker.Pages.CalendarModel
@{
}

<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });

        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap'
        });
    </script>

    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="bordered-1">
        <div id='calendar'>
            <div class="fc"></div>
        </div>
    </div>
</body>


<style>
	#calendar {
		max-width: 800px;
		margin: 0 auto;
        font-family: Raleway, sans-serif;
        text-decoration: none;
	}

    .fc {
        
    }

    .fc-day-top {
        font-size: 24px;
        font-weight: bold;
    }

    .fc-day {
        font-size: 20px;
    }

    <!-- anything below may not be accurate class name -->

    <!-- header area of the calendar, which contains the 
    navigation buttons, title, etc -->
    .fc-header {
    }

    <!-- toolbar area of the header, which contains the 
    navigation buttons -->
    .fc-toolbar {

    }

    <!-- center area of the header that contains the title 
    of the calendar -->
    .fc-center {
    }

    <!-- navigation button in the header, such as the 
    prev and next buttons--individual buttons are 
    .fc-prev-button, .fc-next-button, .fc-today-button -->
    .fc-button {

    }

    <!-- header row of the day grid, which displays the day names -->
    

    <!-- background area of the calendar, which is used 
    to display non-event-related content such as time slots -->
    .fc-bg {

    }

    <!-- event element in the calendar -->
    .fc-event {

    }

    <!-- title of an event element -->
    .fc-event-title {

    }

    <!-- time of an event element -->
    .fc-event-time {

    }

    <!-- container element that wraps around all the events 
    for a given day -->
    .fc-event-container {

    }

    .bordered-1 {
        border-radius: 8px;
        border: none;
        background-color: ghostwhite;
        margin-top: 40px;
        padding: 45px;
    }
</style>