@page
@model RunTracker.Pages.CalendarModel
@{
}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CALENDAR</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div class="contianer">
        <div class="calendar">
            <div class="calendar-header">
                <span class="month-picker" id="month-picker"> May </span>
                <div class="year-picker" id="year-picker">
                    <span class="year-change" id="pre-year">
                        <pre><</pre>
                    </span>
                    <span id="year">2023 </span>
                    <span class="year-change" id="next-year">
                        <pre>></pre>
                    </span>
                </div>
            </div>

            <div class="calendar-body">
                <div class="calendar-week-days">
                    <div>Sunday</div>
                    <div>Monday</div>
                    <div>Tuesday</div>
                    <div>Wednesday</div>
                    <div>Thursday</div>
                    <div>Friday</div>
                    <div>Saturday</div>
                </div>
                <div class="calendar-days">
                </div>
            </div>
            <div class="calendar-footer">
            </div>
            <div class="date-time-formate">
                <div class="day-text-formate">TODAY</div>
                <div class="date-time-value">
                    <div class="time-formate">7:42 PM</div>
                    <div class="date-formate">2 April 2023</div>
                </div>
            </div>
            <div class="month-list"></div>
        </div>
    </div>
</body>
</html>

<style>
    :root {
        --dark-text: #f8fbff;
        --light-body: #f3f8fe;
        --light-main: #fdfdfd;
        --light-second: #c3c2c8;
        --light-hover: #f0f0f0;
        --light-text: #151426;
        --light-btn: #9796f0;
        --blue: #0000ff;
        --white: #fff;
        --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        --font-family: consolas;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html,
    body {
        place-items: center;
        font-family: 'Raleway', 'sans-serif';
        background: rgb(114,171,203);
        background: linear-gradient(143deg, rgba(114,171,203,1) 0%, rgba(97,110,180,1) 100%);
        overflow: hidden;
    }

    .contianer {
        width: max-content;
        height: max-content;
        position: relative;
        display: flex;
        padding: 10% 0px 0px 0px;
        justify-content: center;
        top: 10%;
        right: 0%;
        width: 100%;
        height: 100%;
        font-size: 25px;
    }

    .calendar {
        height: 650px;
        width: max-content;
        background-color: white;
        border-radius: 25px;
        overflow: hidden;
        padding: 40px 60px 0px 60px;
    }

    .calendar {
        box-shadow: var(--shadow);
    }

    .calendar-header {
        background: #9DE1E8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        color: var(--white);
        padding: 20px;
    }

    .calendar-body {
        padding: 20px;
    }

    .calendar-week-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-weight: 600;
        cursor: pointer;
        color: #5b5b5b;
    }

    .calendar-week-days div:hover {
        color: black;
        transform: scale(1.2);
        transition: all .2s ease-in-out;
    }

    .calendar-week-days div {
        display: grid;
        place-items: center;
        color: var(--bg-second);
        height: 50px;
    }

    .calendar-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 4px;
        color: var(--color-txt);
    }

    .calendar-days div {
        width: 37px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        position: relative;
        cursor: pointer;
        animation: to-top 1s forwards;
    }

    .month-picker {
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
    }

    .month-picker:hover {
        background-color: var(--color-hover);
    }

    .month-picker:hover {
        color: var(--color-txt);
    }

    .year-picker {
        display: flex;
        align-items: center;
    }

    .year-change {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin: 0px 10px;
        cursor: pointer;
    }

    .year-change:hover {
        background-color: var(--light-btn);
        transition: all .2s ease-in-out;
        transform: scale(1.12);
    }

    .year-change:hover pre {
        color: var(--bg-body);
    }

    .calendar-footer {
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #year:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: all 0.2s ease-in-out;
    }

    .calendar-days div span {
        position: absolute;
    }

    .calendar-days div:hover {
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
        background-color: #48B4BF;
        border-radius: 20%;
        color: var(--dark-text);
    }

    .calendar-days div.current-date {
        color: var(--dark-text);
        background-color: #48B4BF;
        border-radius: 20%;
    }

    .month-list {
        position: relative;
        left: 0;
        top: -50px;
        background-color: #48B4BF;
        color: var(--light-text);
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 6px;
        border-radius: 20px;
    }

    .month-list > div {
        display: grid;
        place-content: center;
        margin: 5px 10px;
        transition: all 0.2s ease-in-out;
    }

    .month-list > div > div {
        border-radius: 15px;
        padding: 10px;
        cursor: pointer;
    }

    .month-list > div > div:hover {
        background-color: #48B4BF;
        color: var(--dark-text);
        transform: scale(0.9);
        transition: all 0.2s ease-in-out;
    }

    .month-list.show {
        visibility: visible;
        pointer-events: visible;
        transition: 0.6s ease-in-out;
        animation: to-left .71s forwards;
    }

    .month-list.hideonce {
        visibility: hidden;
    }

    .month-list.hide {
        animation: to-right 1s forwards;
        pointer-events: none;
    }

    .date-time-formate {
        width: max-content;
        height: max-content;
        font-family: Dubai Light, Century Gothic;
        position: relative;
        display: inline;
        top: 140px;
        justify-content: center;
    }

    .day-text-formate {
        font-family: Microsoft JhengHei UI;
        font-size: 1.4rem;
        padding-right: 5%;
        border-right: 3px solid #9DE1E8;
        position: absolute;
        left: -1rem;
    }

    .date-time-value {
        display: block;
        height: max-content;
        width: max-content;
        position: relative;
        left: 40%;
        top: -18px;
        text-align: center;
    }

    .time-formate {
        font-size: 1.5rem;
    }

    .time-formate.hideTime {
        animation: hidetime 1.5s forwards;
    }

    .day-text-formate.hidetime {
        animation: hidetime 1.5s forwards;
    }

    .date-formate.hideTime {
        animation: hidetime 1.5s forwards;
    }

    .day-text-formate.showtime {
        animation: showtime 1s forwards;
    }

    .time-formate.showtime {
        animation: showtime 1s forwards;
    }

    .date-formate.showtime {
        animation: showtime 1s forwards;
    }</style>