@page
@model RunTracker.Pages.Login.LoginModel
@{
}

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Lalezar&family=Michroma&family=Monoton&family=Montserrat&family=PT+Serif&family=Poppins:wght@300&family=Quicksand&family=Raleway:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
	<section class="container">
		<div id="col-1">
			<h1>This is half of a page</h1>
		</div>
		<div id="col-2">
			<h1>Login</h1>
			<div class="row-mb-3">
				<label for="email" class="col-sm-2 emailLabel">Email</label>
				<input type="text" class="form-control emailInput" id="email-input">
			</div>
			<div class="row-mb-3">
				<label for="password" class="col-sm-2 passwordLabel">Password</label>
				<input type="text" class="form-control passwordInput" id="password-input">
			</div>
			<button class="btn-login" type="submit">Login</button>
		</div>
	</section>
</body>

<style>
	.container {
		display: flex;
		margin-right: 300px;
		font-family: 'Raleway', sans-serif;
	}

	#col-1 {
		background: pink;
		flex: 1;
		margin: 20px;
		padding: 15px;
		margin-top: 25%;
	}

	.row-mb-3 {
		flex: 1;
		font-size: 20px;
		margin: 20px;
	}

	#col-2 {
		background-color: orange;
		flex: 1;
		margin: 20px;
		padding: 15px;
		margin-top: 25%;
	}

	.btn-login {
		border-radius: 8px;
		border: none;
		font-size: 20px;
		padding: 10px;
		background-color: antiquewhite;
		width: 30%;
	}
</style>