@page
@model RunTracker.Pages.Login.LoginModel
@{
}

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Lalezar&family=Michroma&family=Monoton&family=Montserrat&family=PT+Serif&family=Poppins:wght@300&family=Quicksand&family=Raleway:wght@300;400&display=swap" rel="stylesheet">
</head>

<div class="container">
	<section class="left-side"></section>

	<section class="right-side">
		<h1>Login</h1>
		<form>
			<label for="email">Email</label>
			<input type="email" id="email" name="email">
			<label for="password">Password</label><br>
			<input type="password" id="password" name="password">
			<div class="rememberpass">
				<input type="checkbox" id="remember" name="remember">
				<label for="remember">Remember me</label>
			</div><br>
			<input type="submit" value="Login"><br>
			<a href="google.com">Forgot Password?</a>
		</form>
	</section>
</div>

<style>
	.right-side {
		background-color: white;
		margin: auto;
	}

	.left-side {
		width: 50%;
		min-height: 100vh;
		background-image: url("https://images.pexels.com/photos/3889855/pexels-photo-3889855.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>