@page
@model RunTracker.Pages.CreateAccountModel
@{
    ViewData["Title"] = "Create Account";
}

<script type="text/javascript">
    function validateInput() {
        var isValid = true;
        var firstName = document.getElementById("fname-input");
        var lastName = document.getElementById("lname-input");
        var email = document.getElementById("email-input");
        var password = document.getElementById("password-input");
        var rePassword = document.getElementById("re-password-input");
       

        if (firstName.value == "") {
            isValid = false;
            document.getElementById("fname-error").innerHTML = "This field is required.";
        }

        if (lastName.value == "") {
            isValid = false;
            document.getElementById("lname-error").innerHTML = "This field is required.";
            
        }

        if (email.value == "") {
            isValid = false;
            document.getElementById("email-error").innerHTML = "This field is required.";
            
        }

        if (password.value == "") {
            isValid = false;
            document.getElementById("password-error").innerHTML = "This field is required.";

        }

        if (rePassword.value == "") {
            isValid = false;
            document.getElementById("re-password-error").innerHTML = "This field is required.";
        }
        return isValid;
    }
</script>

    <h1 class="create-account-header"><strong>Create an account</strong></h1>
    <h4 class="misc-header">It's quick and easy!</h4>

    <div class="createAccount-bordered">
        <form method="POST" class="createForm">
            <div class="row mb-3" >
            <label for="fname" class="col-lg-3 col-form-label-lg createForm-label">First Name</label>
            <input type="text" class="form-control createForm-input" id="fname-input" asp-for="NewUser.FirstName"><br>
                <span class="text-danger" id="fname-error" asp-validation-for="NewUser.FirstName"></span>
            </div>
            <div class="row mb-3">
                <label for="lname" class="col-lg-3 col-form-label-lg createForm-label">Last Name</label>
                <input type="text" class="form-control createForm-input" id="lname-input" asp-for="NewUser.LastName"><br>
                    <span class="text-danger" id="lname-error" asp-validation-for="NewUser.LastName"></span>
            </div>
            <div class="row mb-3">
                <label for="email" class="col-lg-3 col-form-label-lg createForm-label">Email</label>
                <input type="text" class="form-control createForm-input" id="email-input" asp-for="NewUser.Email"><br>
                    <span class="text-danger" id="email-error" asp-validation-for="NewUser.Email"></span>
            </div>
            <div class="row mb-3">
                <label for="password" class="col-lg-3 col-form-label-lg createForm-label">Password</label>
                <input type="text" class="form-control createForm-input" id="password-input" asp-for="NewUser.PasswordHash"><br>
                    <span class="text-danger" id="password-error" asp-validation-for="NewUser.PasswordHash"></span>
            </div>
            <div class="row mb-3">
                <label for="re-password" class="col-lg-3 col-form-label-lg createForm-label">Re-enter Password</label>
                <input type="text" class="form-control createForm-input" id="re-password-input" asp-for="NewUser.PasswordHash"><br>
                    <span class="text-danger" id="re-password-error" asp-validation-for="NewUser.PasswordHash"></span>
            </div>
            <div class="row mb-3">
                <button type="submit" class="btn btn-primary createAccountBtn" onclick="return validateInput()">Create Account</button>
            </div>            
        </form>
    </div>