@page
@model RunTracker.Pages.Index1Model
@{
}

<script type="text/javascript">
    function validateInput() {
        var isValid = true;
        var firstName = document.getElementById("fname-input");
        var lastName = documentgetElementById("lname-input")
        var email = document.getElementById("email-input");
        var password = document.getElementById("password-input");
        var rePassword = document.getElementById("re-password-input");

        if (firstName.value == "") {
            isValid = false;
            document.getElementById("fname-error").innerHTML = "This field is required.";
        }

        if (lastName.value == "") {
            isValid = false;
            document.getElementById("lname-error").innerHTML = "This field is required.";
        }

        if (email.value == "") {
            isValid = false;
            document.getElementById("email-error").innerHTML = "This field is required.";
        }

        if (password.value == "") {
            isValid = false;
            document.getElementById("password-error").innerHTML = "This field is required.";
        }

        if (rePassword.value == "") {
            isValid = false;
            document.getElementById("re-password-error").innerHTML = "This field is required.";
        }
        return isValid;
    }
</script>

<head>
    <style>
        body {
            background: rgb(159,172,241);
            background: linear-gradient(153deg, rgba(159,172,241,1) 0%, rgba(70,115,199,1) 95%);
        }
    </style>
</head>

<body>
    <h1 class="createAccount"><strong>Create Account</strong></h1>
    <h4 class="misc">It's quick and easy!</h4>

    <div class="bordered">
        <form class="createForm">
            <div class="row mb-3">
                <label for="fname" class="col-sm-2 fnameLabel">First Name</label>
                <input type="text" class="form-control fnameInput" id="fname-input"><br>
                <span class="text-danger" id="fname-error" asp-validation-for="NewUser.FirstName"></span>
            </div>
            <div class="row mb-3">
                <label for="lname" class="col-sm-2 lnameLabel">Last Name</label>
                <input type="text" class="form-control lnameInput" id="lname-input"><br>
                <span class="text-danger" id="name-error" asp-validation-for="NewUser.LastName"></span>
            </div>
            <div class="row mb-3">
                <label for="email" class="col-sm-2 emailLabel">Email</label>
                <input type="text" class="form-control emailInput" id="email-input"><br>
                <span class="text-danger" id="email-error" asp-validation-for="NewUser.Email"></span>
            </div>
            <div class="row mb-3">
                <label for="password" class="col-sm-2 passwordLabel">Password</label>
                <input type="text" class="form-control passwordInput" id="password-input"><br>
                <span class="text-danger" id="password-error" asp-validation-for="NewUser.PasswordHash"></span>
            </div>
            <div class="row mb-3">
                <label for="re-password" class="col-sm-2 rePasswordLabel">Re-enter Password</label>
                <input type="text" class="form-control rePasswordInput" id="re-password-input"><br>
                <span class="text-danger" id="re-password-error" asp-validation-for="NewUser.PasswordHash"></span>
            </div>
            <div class="d-grid col-4 mx-auto">
                <button type="submit" class="btn btn-primary" onclick="return validateInput()">Create Account</button>
            </div>
        </form>
    </div>
</body>

<style>
    .createForm input[type="text"] {
        box-sizing: border-box;
        margin: 30px;
        width: 500px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        text-align: left;
        background-color: #F4F6F6;
        border-color: #F2F4F4;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .fnameLabel, .lnameLabel, .emailLabel, .passwordLabel, .rePasswordLabel {
        font-size: 20px;
        text-align: right;
        width: 150px;
        font-family: 'Raleway', sans-serif;
        display: inline-block;
    }

    .createAccount, .misc {
        font-size: 75px;
    }

    .createAccount, .misc {
        font-family: 'Raleway', sans-serif;
    }

    .createAccount {
        margin-top: 80px;
        color: white;
    }

    .misc {
        margin-bottom: 50px;
        color: gray;
    }

    .row {
        display: flex; 
        align-items: center;
    }

    .btn {
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
        border-radius: 8px;
        border: none;
        font-weight: bold;
        padding: 0.5rem;
        align-content: center;
    }

    .bordered {
        border-radius: 8px;
        border: none;
        background-color: #E5E7E9;
        margin-top: 40px;
        padding: 45px;
    }
</style>