@page
@model RunTracker.Pages.CreateAccountModel
@{
}

<script type="text/javascript">
    function validateInput() {
        var isValid = true;
        var name = document.getElementById("name-input");
        var email = document.getElementById("email-input");
        var password = document.getElementById("password-input");
        var rePassword = document.getElementById("re-password-input");

        if (name.value == "") {
            isValid = false;
            document.getElementById("name-error").innerHTML = "This field is required.";
        }

        if (email.value == "") {
            isValid = false;
            document.getElementById("email-error").innerHTML = "This field is required.";
        }

        if (password.value == "") {
            isValid = false;
            document.getElementById("password-error").innerHTML = "This field is required.";
        }

        if (rePassword.value == "") {
            isValid = false;
            document.getElementById("re-password-error").innerHTML = "This field is required.";
        }
        return isValid;
    }
</script>

<head>
    <style>
        body {
            background: rgb(68,107,107);
            background: linear-gradient(143deg, rgba(68,107,107,1) 0%, rgba(132,139,187,1) 100%);
        }
    </style>
</head>

<body>
    <h3 class="welcome-text1">Welcome to</h3>
    <h1 class="welcome-text2">RunTracker</h1>
    <div class="bordered">
        <h1 class="createAccount"><strong>Create Account</strong></h1>
        <h4 class="misc">It's quick and easy!</h4>

        <form class="createForm">
            <div class="row mb-3">
                <label for="name" class="col-sm-2 nameLabel">Name</label>
                <input type="text" class="form-control nameInput" id="name-input">
                <span class="text-danger" id="name-error" asp-validation-for="NewUser.FirstName"></span>
            </div>
            <div class="row mb-3">
                <label for="email" class="col-sm-2 emailLabel">Email</label>
                <input type="text" class="form-control emailInput" id="email-input">
                <span class="text-danger" id="email-error" asp-validation-for="NewUser.Email"></span>
            </div>
            <div class="row mb-3">
                <label for="password" class="col-sm-2 passwordLabel">Password</label>
                <input type="text" class="form-control passwordInput" id="password-input">
                <span class="text-danger" id="password-error" asp-validation-for="NewUser.PasswordHash"></span>
            </div>
            <div class="row mb-3">
                <label for="re-password" class="col-sm-2 rePasswordLabel">Re-enter Password</label>
                <input type="text" class="form-control rePasswordInput" id="re-password-input">
                <span class="text-danger" id="re-password-error" asp-validation-for="NewUser.PasswordHash"></span>
            </div>
            <div class="d-grid col-4 mx-auto">
                <button class="btn-create" type="submit" onclick="return validateInput()">Create Account</button>
            </div>
        </form>
    </div>
</body>

<style>
    .createForm input[type="text"] {
        box-sizing: border-box;
        margin: 15px;
        width: 535px;
        border-radius: 8px;
        background-color: #F4F6F6;
        border-color: #F2F4F4;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nameLabel, .emailLabel, .passwordLabel, .rePasswordLabel {
        font-size: 25px;
        text-align: right;
        margin-left: 240px;
        width: 150px;
        font-family: 'Raleway', sans-serif;
    }

    .welcome-text1 {
        color: #1C2833;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        text-align: center;
        margin-top: 100px;
    }

    .welcome-text2 {
        color: black;
        font-size: 75px;
        font-family: 'Monoton', cursive;
        text-align: center;
    }

    .createAccount, .misc {
        font-size: 60px;
        text-align: center;
    }

    .createAccount, .misc {
        font-family: 'Raleway', sans-serif;
    }

    .misc {
        margin-bottom: 50px;
        color: #5D6D7E;
    }

    .row {
        display: flex; 
        align-items: center;
    }

    .btn-create {
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
        border-radius: 8px;
        border: none;
        align-content: center;
        background-color: #7A96B4;
        color: white;
    }

    .bordered {
        border-radius: 8px;
        border: none;
        background-color: #E5E7E9;
        margin-top: 60px;
        padding: 30px;
    }
</style>